@{
    ViewData["Title"] = "Activities";
}

<h2>Activities</h2>

@(Html.DevExtreme().DataGrid<StopoverAdminPanel.Models.Activity>()
    .DataSource(ds => ds.WebApi()
        .RouteName("ActivitiesApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .ShowBorders(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.NameCode);

        columns.AddFor(m => m.CityId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().RouteName("ActivitiesApi").LoadAction("CityLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Email);

        columns.AddFor(m => m.Enabled);

        columns.AddFor(m => m.TransferEnabled);

        columns.AddFor(m => m.MinPassengers);

        columns.AddFor(m => m.Comments);
    })

    .MasterDetail(md =>
    {
        md.Enabled(true);
        md.Template(@<text>
           <div class="master-detail-caption"><h3>Times available for <%= data.NameCode %>:</h3></div> 
           @Html.Partial("_ActivityTimeForActivity")
            <hr />
            <div class="master-detail-caption"><h3>Prices and Price Types for <%= data.NameCode %>:</h3></div>
            @Html.Partial("_ActivityPriceForActivity")
            <hr />
            <div class="master-detail-caption"><h3>Blocked days for <%= data.NameCode %>:</h3></div>
            @Html.Partial("_ActivityBlockedDayForActivity")
        </text>);
    })

    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Mode(GridEditMode.Popup)
        .UseIcons(true)
    )
)
