body {
  padding-top: 50px;
}

.dropdown {
    margin-top: 8px;
    margin-left: 20px;
}

.dropdown-menu li a{
    padding: 5px 15px;
    font-weight: 300;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}