@{
    var bookingRef = ViewBag.BookingReference;
    var route = ViewBag.Route;
}

<tr>
    <td style="text-align: center; vertical-align: middle;"><input type="checkbox" class="myCheckbox" /></td>
    <td>@bookingRef</td>
    <td>@route</td>
</tr>
