
@{
    ViewBag.Title = "LoginView";
}
@model StopoverAdminPanel.Auth.LoginModel
<h2>Login</h2>

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Логин" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
        </div>
    </div>
}